
    <div class='row' id="comment-<%= comment.id%>" >
    <li class='list-group-item' style='background:#f0f0f0;'>
    <div class='row'>
        <div class='col-lg-2' ><%= link_to (image_tag (comment.user.avatar), size: '50x50', class: 'img-circle'), comment.user %>
        </div>
        <div class='col-lg-6'><strong><%= link_to comment.user.name, comment.user %><br>(<span id="comment-<%= comment.id %>-likesize" class="likesize"><%= comment.get_likes.size %></span> votes)</strong><br>
        </div>
        <div class='col-lg-4 creating'><%= creating(comment) %></div>
    </div>
    <div class='row' style='padding-left: 10px;'><%= comment.comment %>    </div>
    <div class="row text-center">
        <div class="btn-group" role='group'>
            <% if !current_user.voted_up_on? comment %>
                <%= link_to like_comment_path(comment),type: 'button', class: 'btn btn-default', id: "comment-#{comment.id}-like", method: :put, remote: true do %>
                        <i class='fa fa-thumbs-up fa-lg' ></i>
                    <% end %>
            <% elsif current_user.voted_up_on? comment %>
                <%= link_to like_comment_path(comment),type: 'button', class: 'btn btn-default', id: "comment-#{comment.id}-like", method: :put, remote: true do %>
                        <i class='fa fa-thumbs-up fa-lg fa-rotate-180' ></i>
                    <% end %>
            <% end %>
            <% if (comment.user == current_user) %>
                <%= link_to comment, method: :delete, data: {confirm: 'Are you sure?' },type: 'button', class: 'btn btn-default', remote: true do %>
                        <i class='fa fa-remove fa-lg' ></i>
                    <% end %>
            <% end %>
        </div>
    </div>
    </li>
</div>

<script>
function myFunction(x) {
    x.classList.toggle("fa-thumbs-down");
}
</script>


