<div style='padding-top:40px;'></div>
<%= simple_form_for @user, class: 'form-group ', id: 'user-form' do |f| %>
	<%= f.error_notification %>

	<%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 100,
    end_year: Date.today.year, order: [:day, :month, :year] %>
	<%= f.input :name , label: false, placeholder: "Enter your name", class: 'form-control input-lg', row: '3' %>
    <%= f.input :city, placeholder: 'Where do you live?', label: false %>

    <%= f.input :phone_number, class: 'form-control input-lg', placeholder: ' Phone number (+375)-no input! form-(YYxxxxxxx)', label: false %>
    <%= f.input :education, placeholder: 'The last place of education', label: false, class: 'form-control input-lg' %>
    <%= f.input :available_languages, placeholder: 'What languages do you speak?', label: false, class: 'form-control input-lg' %>
    <%= f.input :hobbies, placeholder: 'Enter your hobbies', label: false, class: 'form-control input-lg', row: '3' %>
	<%= f.input :about , placeholder: 'Some info about you', label: false, class: 'form-control input-lg', row: '3' %>
<div class='row'>
	<div class='col-lg-8 col-lg-offset-2 text-center'>	
		<label class="btn btn-primary btn-block" for="my-file-selector">
		    <%= f.file_field :avatar, id: "my-file-selector", style: 'display: none;'  %>
		    <h4>Load New Avatar</h4>
		</label>
	</div>
</div>	
<div class='row btn-margin'>
	<div class='col-lg-4 col-lg-offset-2 text-center'>
		<%= f.button :submit, "Confirm", class: 'btn btn-lg btn-primary btn-block' %>
	</div>
	<div class='col-lg-4 text-center'>
		<%= link_to 'Cancel', :back, class: 'btn btn-block btn-success ',style: 'font-size:150%;', confirm: 'Are you sure?' %>
	</div>
</div>
<% end %>

