<div class='row '><h1 class='text-center'>People</h1><hr/>

  <% if @users.present? %>
    <% @users.each do |user| %>
    <div class="well">
      <div class='row'>
        <div class='col-lg-5 text-center' >
          <h4><%= link_to user.name, user_path(user) %></h4>
          <%= link_to (image_tag (user.avatar), size: '200x200', class: 'img-responsive img-rounded center-block'), user %>

          <div class=text-center>  
          <div class='btn-group btn-group-lg' role='group'>
          <%= link_to chats_path( other_user: user.id),type: 'button', class: 'btn btn-default', method: :post do %>
          <i class='fa fa-envelope fa-lg' ></i>
          <% end %>
          <% if !user.followed_by? current_user %>
            <%= link_to follow_user_path(user), id: 'user-#{ user.id}-follow',type: 'button', class: 'btn btn-default', method: :put, remote: :true  do %>
                <i class='fa fa-plus fa-lg' id='zaebalo-<%= user.id %>'></i>
              <% end %>
          <% elsif user.followed_by? current_user %>
            <%= link_to follow_user_path(user), id: 'user-#{ user.id}-follow',type: 'button', class: 'btn btn-default', method: :put, remote: :true  do %>
                <i class='fa fa-plus fa-lg fa-rotate-45' id='zaebalo-<%= user.id %>'></i>
              <% end %>
          <% end %>
          </div>
          </div>
        </div>


        <div class='col-lg-6'>
        <div class="panel panel-info text-left">
        <div class="panel-heading">
          <h3>User information (<span id='user-<%= user.id %>-followsize'><%= user.followers_count %></span> followers)</h3></div>
        </div>
        <div class='panel-body'>
          <ul class="list-group">
          <% if user.city %> 
            <li class="list-group-item">
              <strong>City: </strong><%= user.city %>
            </li>
          <% end %>

          <% if user.date_of_birth %> 
            <li class="list-group-item">
              <strong>Age: </strong><%= age(user.date_of_birth) %>
            </li>
          <% end %>
          <% if user.available_languages %> 
            <li class="list-group-item">
              <strong>Languages: </strong><%= user.available_languages %>
            </li>
          <% end %>
          <% if user.education %> 
            <li class="list-group-item">
              <strong>Education: </strong><%= user.education %>
            </li>
          <% end %>                                  
          </ul>
        </div>
        </div>
      </div>
    </div>

    <% end %>
  <% else %>
    <h2 class='text-center'>
      <div class="row">
        <div class='col-lg-8 col-lg-offset-2'>It`s a simple search system, but it`s realy work. Please check detalis and try again.
        </div>
      </div>
    </h2>
  <% end %>

</div>


<div class='row text-center'>
  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>

