<div class='row' style='margin-top:30px;'>
        <div class='col-lg-5 text-center' >
          <h4><%= link_to @user.name, user_path(@user) %></h4>
          <%= link_to (image_tag (@user.avatar), size: '200x200', class: 'img-responsive img-rounded center-block') %>

          <div class=text-center>  
          <div class='btn-group btn-group-lg' role='group'>
          <%= link_to chats_path( other_user: @user.id),type: 'button', class: 'btn btn-default', method: :post do %>
          <i class='fa fa-envelope fa-lg' ></i>
          <% end %>
          <%= link_to follow_user_path(@user), id: 'user-#{ @user.id}-follow',type: 'button', class: 'btn btn-default', method: :put, remote: :true  do %>
          <i class='fa fa-user-plus fa-lg' ></i>
          <% end %>
          </div>
          </div>
        </div>


        <div class='col-lg-7 well'>
          <h3>User information (<span id='user-<%= @user.id %>-followsize'><%= @user.followers_count %></span> followers)</h3>
          <%= @user.about %>
        </div>
</div>


