
<% if (chat.type == "PersChat") && current_user.pers_chats.include?(chat) && !chat.messages.empty? %>
	<div class="well">
	<div class='row text-center' style='padding-top:50px; margin-left:50px;'>
		<div class='col-lg-3 ' >
			<%= link_to (image_tag (chat.other_user.avatar), size: '70x70', class: 'img-responsive img-rounded center-block'), user_path(chat.other_user) %>
		</div>
		<div class='col-lg-6' id='messblock' data-link='<%= chat_path(chat, other_user: chat.other_user.id) %>' style='cursor:pointer'>
			<div class='row'>
				<div class='col-lg-8 text-left naming' ><%= chat.other_user.name %></div>
				<div class='col-lg-4 text-right creating' ><%= creating(chat.messages.last)%></div>
			</div><hr/>

			<div class='row text-left'>
			<% last_messages(chat).each do |mess|%>
				<div class='col-lg-5' id='blockinside'><%= link_to mess.user.name, mess.user %> :
				</div>
				<div class='col-lg-7'><%= separate(mess.content) %></div>
			<% end %>
			</div>
		</div>
	</div>
	</div>
<% elsif (chat.type == "ComChat") && !chat.messages.empty? %>
	<div class="well" style='cursor:pointer' id='messblock' data-link='<%= chat_path(chat)%>' >
		<div class='row text-center ' style='padding-top:20px;'>
			<div class='col-lg-6 col-lg-offset-1 text-left' style='font-size:150%'><%= chat.name%></div><hr/>

		</div>

		<% if !chat.messages.empty? %>
			<% last_messages(chat).each do |message| %>
			<div class='row' >
				<div class='col-lg-3 col-lg-offset-1' id='blockinside'>
					<strong><%= link_to message.user.name, message.user %></strong> :
				</div>
				<div class='col-lg-6 text-left' id='blockinside'><%= message.content%>
				</div>
				<div class='col-lg-2 text-right creating' ><%= creating(message)%></div>
			</div>
			<% end %>
		<% end %>
	</div>
<% end %>

<script type="text/javascript">
$("div#messblock").click(function() {
  window.location = $(this).data("link")
});

$("div#blockinside").click(function (event) {
    event.stopPropagation();
});
</script>