<!DOCTYPE html>
<html class='row backgroundimg'>
  <head>
    <title>Kontik</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class='row backgroundimg'>
      <div class='container' style='padding-top:60px; margin-left:40px; margin-right:40px;'>
        <%= render 'shared/navbar' %>
        <%= yield %> 
      </div>  
    </div>  
  </body>
</html>
