<!DOCTYPE html>
<html class='row '>
  <head>
    <title>MySocialNetwork</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>


  <body>
    <div class='row' id='container'>
    <%= render 'shared/navbar' %>
      <div id="body">
          <div class='container' style='padding-top:60px; margin-right:40px;'>  
            <%= yield %> 
          </div> 
      </div>
   
      <div class='text-center' id="footer">
        <div class="footer footer-bottom">
            Developed by Kirienko Alexandr, Minsk, 2018 | <%= link_to 'GitHub repo link', 'https://github.com/MoreThanInfinity/appname' %>.
        </div>
      </div>
    </div> 
  </body>

</html>
