<!DOCTYPE html>
<html class='row '>
  <head>
    <title>MySocialNetwork</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>


  <body>
    <div class='row wrapper'>
      <div class='container' style='padding-top:60px; margin-left:40px; margin-right:40px;'>
        <%= render 'shared/navbar' %>
        <%= yield %> 
      </div>  
    </div> 
    <div class="row text-center">
    <h4>Developed by Kirienko Alexandr <%= link_to 'GitHub repo link', 'https://github.com/MoreThanInfinity/appname' %>. Minsk, 2018.</h4>
    </div> 
  </body>

</html>
